@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
  scroll-behavior: smooth;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:gray;
    background-size:cover;
    height: 100vh;
    width: 100%;
    position: relative;
    -webkit-font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
}

.video_selector{
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index:-999;

}

 div{
    
    margin-top:260px;

} 


@keyframes top-name {
    0% {opacity:0;}
    100%  {opacity:0.5;}
}


#topname
{
  font-weight: 900;
  color:#fff;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  margin:10px;
  padding:0;
  text-align: center;
  color:rgb(184, 184, 184);
  opacity: 0.7;
    /* margin-top: 450px; */
}

#topname h1 a:link{
  
  text-decoration: none;
}

#topname h1 a:visited { color:gray;text-decoration: none; }

#topname h1 span{
  
  animation: top-name 10s;
  font-weight: 12px;
  font-size:80px;
}


#topname h1 span:before{
  font-weight: 12px;
  font-size:80px;
  content:'EILISH';
  color:gainsboro;
  position: absolute;
  width:0;
  overflow:hidden;
  transform: translateY(90px);
  transition: width 1s;
  

}
#topname h1 span:hover{
  color:white;
  transition:width 1s;
  padding-right: 100px;
}
#topname h1 span:hover:before{
  width:40%;
  transform:translateY(90px);
  

}
#rawname{
  opacity: 0.8;
  margin-top: 700px;
  text-align: center;
  padding-right: 200px; 
  /* /* left:0;
  bottom:0; */

}
#rawname h1{
  font-family: 'Nanum Gothic', sans-serif;
  color:gray;
  font-size: 11px;
}
#name
{
    font-weight: 200px;
    font-size:8px;
}
  ul li {
    list-style: none;
  }
   
  .top-panel::before{
    content: '╲╱';
    color: #fff;
    position: absolute;
    opacity: 0.8;
    text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
    width: 6rem;
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    bottom: 2rem;
    margin-left: -3rem;
    left: 50%;
    margin-top:500px;
    animation: bounce 1s ease infinite;
  } 
  .panel{
    opacity: 0;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  .top-panel {

    width: 100%;
    height: 100vh;
    background: #111;
    position: relative;

  }
section{
  width: 100%;
  height:90vh;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
section:before{
content:attr;
text-transform: uppercase;

}
h2{

  font-family: 'Nanum Gothic', sans-serif;
  color:#fff;
  opacity: 0.7;
  font-size: 11px;
  text-align: center;

}

#main{
  height:100vh;
  width:100%;
  background-color: #111;
  overflow: hidden;
}
#slider{
  position:relative;
  width:400%;
  margin:0px;
  left:5%;
}
#B{
  float:left;
  position:relative;
  text-align: left;
  margin-top:220px;
  width:25%;
  font-size: 8cm;
  font-family: 'Abril Fatface', cursive;
  /* line-height: 16.5cm; */
  background-image:url(img/B.png);
  background-position:-300px 0px;
  background-size:70%;
  background-attachment:fixed;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.br{
  
  margin: 0px;
  padding-left: 1000px;
  float: left;

}
.br h1{
  font-family: 'Nanum Gothic', sans-serif;
  color:#fff;
  font-size: 18px;
  opacity: 1;
}
.br h2{
  font-family: 'Nanum Gothic', sans-serif;
  color:#fff;
  font-size: 12px;
  opacity: 0.7;
}
.br button{
  margin-top:30px;
    width:60px;
    height:32px;
    border-radius:2px;
    background-color:white;
    opacity: 0.5;
    transition:all 0.9s, color 0.3;
}
.br button:hover{
  opacity: 0.9;
}
.br button a:link{
  text-decoration: none;
}
.br button a:visited { color:#111;text-decoration: none; }
.sns{
  margin-top:10px;
  padding-left: 100px;
  opacity: 0.8;
}
.sns ul li{
  display:inline;

  /* list-style: inline; */
}
.sns ul li:hover img{
  -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
    opacity: 1;
}
.top button{
  margin-top:100px;
  width:32px;
  height:32px;
  border-radius:50px;
  background-color:white;
  opacity: 0.5;
  transition:all 0.9s, color 0.3;
}

.ab-panel{

  float: left;
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: relative;
    overflow: hidden;
}
.ab{
  /* float: left; */
  text-align: center;
  margin-top: 150px;
  /* padding-right: 250px; */
}
.ab:hover{
  opacity: 0.5;
}
.oc{
  text-align: center;
  margin-top: 30px;
}
.oc h1{
  color:#fff;
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  opacity: 1;
}
.oc h2{
  text-align: center;
  margin:30px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color:#fff;
  opacity: 0.8;
}
.oc button{
  margin-top:20px;
  width:32px;
  height:32px;
  border-radius:50px;
  background-color:#111;
  opacity: 0.5;
  transition:all 0.9s, color 0.3;
  animation: bounce 1s ease infinite;
}
.oc button:hover{

-webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
    opacity: 1;
}

.last
{
  float: left;
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: relative;
    overflow: hidden;
}
.fm{
  text-align: center;
  margin-top:300px;
  padding:0px;
}
.fm ul li{
  padding:40px;
  display:inline;
}
.fm li:nth-child(1):hover{
  opacity: 0.5;

}
.fm li:nth-child(2):hover{
  opacity: 0.5;
}
.fm li:nth-child(3):hover{
  opacity: 0.5;
}

.fm h1{
  margin: 60px;
  padding: 0; 
  color:#fff;
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  opacity: 1;
}
.fm button{
  margin-top:70px;
  width:32px;
  height:32px;
  border-radius:50px;
  background-color:#111;
  opacity: 0.5;
  transition:all 0.9s, color 0.3;
  animation: bounce 1s ease infinite;
}
.fm button:hover{

-webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
    opacity: 1;
}
.fm button a:visited { color:#fff;text-decoration: none; }
.fm button a:link{text-decoration: none;}

.oc button a:visited { color:#fff;text-decoration: none; }
.oc button a:link{text-decoration: none;}
/* cursor */
.blind{display:none;visibility:hidden}
#cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;box-sizing:border-box;transform:translateX(-50%) translateY(-50%);pointer-events:none}
#cursor-dot{z-index:100000;width:4px;height:4px;border-radius:50%;background-color:white}
#cursor-dot.active{width: 8px;height: 8px;background-color: #3c3c3c;}
#cursor-bg{z-index:100000;width:15px;height:15px;border:1px solid #3c3c3c;border-radius:50%;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out,border-color 200ms ease-in-out}
#progress{z-index:100000;color:#fff;width:15px;height:15px;border-radius:50%;transition:width 200ms ease-in-out}
#cursor-bg.active{width:30px;height:30px;background-color:#000;mix-blend-mode:darken}
#progress.active{width:30px;height:30px}
#progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;transform:translateX(-50%) translateY(-50%)}
#progress.active span::after{content:'';text-transform:uppercase;font-size:10px;line-height:16px;opacity:0;transition:opacity 200ms ease-in-out}
#progress.active span::after{opacity:1.0}
  